{% extends 'base.html' %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />

    {% load static %}
    <link rel="icon" href="{% static 'fromFarewell.png' %}" />
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'postDetail.css' %}">

    <title>blogDetail</title>
</head>
<body>
    <div class="inner__content">
        <div class="postInfo">
            <img src="{% static 'fromFarewell.png' %}" class="writerImage">
            <div class="postInfoText">
                <p class="title">{{blog.title}}</p>
                <div class="postWriterPubDateBox">
                    <p class="writer">{{blog.writer}}</p>
                    <p class="pubDate">{{blog.pub_date}}</p>
                </div>
            </div>
        </div>
        <div class="contentBox">
            {{blog.body}}
        </div>

    </div>
    
</body>
</html>
{% endblock %}