{% extends 'base.html' %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farewell</title>
</head>
<body>
    <h1>blog main</h1>
    <h3>어쩌구 저쩌구 감상적인 말1</h3>
    <div>
        <a href="{%url 'newBlog'%}"> 게시물 작성 </a>
    </div>
    {%for blog in blogs%}             
    제목 :  {{blog.title}} <br>                  <!-- 비디오 제목-->
    작성자 : {{blog.writer}} <br>                <!-- 비디오 작성자-->
    작성날짜 : {{blog.pub_date}} <br>            <!-- 작성 날짜-->
    상세설명 : {{blog.summary}} <br>
    <a href = "{%url 'detailBlog' blog.id %}">여기 클릭하면 디테일로</a> <br><br><!-- views.py의 detail_video 실행하면서 id도 넘겨줌-->
    {% endfor %}
</body>
</html> 

{% endblock %}