{% extends 'base.html' %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="icon" href="{% static 'fromFarewell.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'writePost.css' %}">

    <title>Document</title>
</head>
<body>
    <div class="inner__content">
    <form class="writePostForm" action="{%url 'createBlog'%}" method="post">
      {%csrf_token%}
        <div class="formBox">
            <div>
                <div class="titleFormBox">
                   <input type="text" placeholder="글의 제목을 입력해주세요" class="title" name="title">
                 </div>

                 <div class="writerFormBox">
                    <input type="text" placeholder="작성자를 입력해주세요" class="writer" name="writer">
                  </div>

                 <div class="contentFormBox">
                  <textarea placeholder="내용을 작성해주세요" class="content" name="body" style="font-family: Noto Sans KR, sans-serif;font-size:15px;";></textarea>
                </div>
            </div>
            <div class="submitButton">
            <input type="image"  src="{% static 'submitButton.png' %}" alt="작성완료" style="width:110px; padding-bottom:30px;">
            </div>
        </div>
    </form>

    </div>
    
</body>
</html>
{% endblock %}
