.logoImg {
    width: 40px;
    height: 40px;
    margin-left: 500px;
}

.login_logo {
    margin-left: 515px;
    margin-bottom: 10px;
}

.loginBtn {
    background-color: #ff929e;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    margin-left: 350px;
    border-radius: 15px;
    outline: none;
    border: none;

    cursor: pointer;
}

.login_form {
    margin-left: 300px;
  }

.signupMsg {
    margin-left: 565px;
    color: #999797;
}

.gotoBtn {
    text-decoration: none;
    color: #92B8FF;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}