.logoImg {
    width: 40px;
    height: 40px;
    margin-left: 400px;
}

.signup_logo {
    margin-left: 415px;
    margin-bottom: 10px;
}

.signupBtn {
    background-color: #ff929e;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    margin-left: 720px;
    border-radius: 15px;
    outline: none;
    border: none;

    cursor: pointer;
}