{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="imgs/fromFarewell.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="./css/common.css" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'movieDetail.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="inner">
      <div class="movie__container">
        <div class="movie__main">
          <div class="movie__video">
            <iframe
              src="https://www.youtube.com/embed/{{video.youtube}}"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="movie__info">
            {% if video.image %}
            <img class="profile__img" src="{% static 'exImg.png' %}" />
            {% endif %}
            <div class="movie__describe">
              <p class="movie__describe__title">{{video.title}}</p>
              <span class="movie__describe__writer">{{video.writer}}</span>
              <span class="movie__describe__pub_date">{{video.pub_date}}</span>
            </div>
          </div>
          <div class="movie__content">{{video.body}}</div>
        </div>

        <div class="movie__side">
          {%for video in videos%}
          <a class="movie__card" href="{%url 'detailVideo' video.id %}" style="text-decoration: none; color:inherit;">
            <img src="{{video.image.url}}" alt="" />
            <div class="movie__describe">
              <p class="movie__describe__title">{{video.title}}</p>
              <p class="movie__describe__writer">{{video.writer}}</p>
              <p class="movie__describe__pub_date">{{video.pub_date}}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
