{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--템플릿부분 시작-->
    {% load static %}
    <link rel="icon" href="{% static 'fromFarewell.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <!-- Google 폰트 불러오기 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--구글 머테리얼 아이콘즈 불러오기-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="{% static 'common.css' %}" />
    <link rel="stylesheet" href="{% static 'moviePost.css' %}" />

    <!--템플릿부분 끝-->
    <script defer src="{% static 'moviePost.js' %}"></script>
    <title>Document</title>
  </head>
  <body>
    {% load static %}
    <!-- 여기에 다른 코드 입력-->
    <div class="moviePostForm__wrapper">
      <form
        class="moviePostForm"
        action="{%url 'createVideo'%}"
        method="post"
        enctype="multipart/form-data"
      >
        {%csrf_token%} {{form.as_p}}
        <div class="moviePostForm__header">
          <div class="thumbnail__wrapper"></div>
          <div class="moviePostForm__header__inputs">
            <input
              type="text"
              id="input__title"
              name="title"
              placeholder="영상의 제목을 입력해주세요."
            />
            <label for="input__thumbnail">
              <span class="material-icons"> image </span>
              썸네일이미지 올리기
            </label>
            <input
              type="file"
              id="input__thumbnail"
              name="image"
              accept="image/*"
            />
            <input
              type="text"
              id="input__userName"
              name="writer"
              placeholder="당신의 이름을 입력해주세요."
            />
          </div>
        </div>
        <div class="moviePostForm__main">
          <input
            type="text"
            id="input__youtubeId"
            name="youtube"
            placeholder="유튜브 영상의 ID을 입력해주세요."
          />
          <button class="input_youtube_previewBtn">미리보기</button>
          <div class="movie__preview">
            <img src="{% static 'youtubeExplainImg.png' %}" />
          </div>
          <textarea
            name="body"
            id="description"
            placeholder="영상의 설명을 작성해주세요"
          ></textarea>
        </div>
        <input type="image"  src="{% static 'submitButton.png' %}" alt="작성완료" style="width:110px; padding-bottom:30px; display: block; margin: 0px auto;">
      </form>
    </div>
  </body>
</html>
{% endblock %}
