{% extends 'base.html' %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--템플릿부분 시작-->
    {% load static %}
    <link rel="icon" href="{% static 'fromFarewell.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <!-- Google 폰트 불러오기 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--구글 머테리얼 아이콘즈 불러오기-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'moviePost.css' %}">

    <!--템플릿부분 끝-->
    <script defer src="{% static 'moviePost.css' %}"></script>
    <link rel="stylesheet" href="{% static 'moviePost.css' %}">
    <title>Document</title>
  </head>
  <body>
    {% load static %}
    <!-- 여기에 다른 코드 입력-->
    <div class="moviePostForm__wrapper">
      <form class="moviePostForm" action="{%url 'createVideo'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <div class="moviePostForm__header">
          <div class="thumbnail__wrapper"></div>
          <div class="moviePostForm__header__inputs">
            <input
              type="text"
              id="input__title"
              name="title"
              placeholder="영상의 제목을 입력해주세요."
            />
            <label for="input__thumbnail">
              <span class="material-icons"> image </span>
              썸네일이미지 올리기
            </label>
            <input
              type="file"
              id="input__thumbnail"
              name="image"
              accept="image/*"
            />
            <input
              type="text"
              id="input__youtubeId"
              name="youtube"
              placeholder="유튜브 영상의 ID을 입력해주세요."
            />
            <p>작성자 : <input type="text" name = "writer"> </p> <!-- 작성자없으면  multivaluedictkeyerror 나와서 일단 넣어놓음-->
          </div>
        </div>
        <div class="moviePostForm__main">
          <div class="movie__preview"></div>
          <textarea
            name="body"
            id="description"
            placeholder="영상의 설명을 작성해주세요"
          ></textarea>
        </div>
        <button type="submit"><input type="image" class="button" src="{% static 'submitButton.png' %}" /></button>
      </form>
    </div>
  </body>
</html>
{% endblock %}

<!-- <h1>Write your video</h1>
<form action="{%url 'createVideo'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
-->
    <!-- <p>제목 : <input type="text" name = "title"> </p>
    <p>작성자 : <input type="text" name = "writer"> </p>
    <p> youtube 속성 : <input type="text" name="youtube"> </p>
    <p>사진 : <input type="file" name="image"></p> -->

    <!-- <button type="submit"> 작성하기 </button>

</form>  -->