{% extends 'base.html' %}
{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Write your post</h1>
    <form action="{%url 'createBlog'%}" method="post">
        {%csrf_token%}
        <p>제목 : <input type="text" name = "title"> </p>
        <p>작성자 : <input type="text" name = "writer"> </p>
        <p>본문 : <textarea name="body" id="" cols="40" rows="20"></textarea> </p>
        <button type="submit"> 작성하기 </button>

    </form> 
</body>
</html>


{% endblock %}